$primary: #702ada;
$muted: #a2a3b7;
$secondary: #F1F2F5;
$tertiary: #DE6BD2;
$success:#198754;
$info: #1d1e2c;
$warning: #1d1e2c;
$danger: tomato;
$light: #fff;
$dark: #1d1e2c;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary":    $tertiary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);
