// Import all of Bootstrap's CSS
@import "_variables.scss";

$bg_color_primary: #f8fafc;

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body{
    background-color: $bg_color_primary;
}

.text-muted{
    color: $muted !important;
}

.bg-secondary {
    background-color: $secondary !important;
    color: $muted !important;
}